go 1.19

use (
	./accumulate
	./annalyns-infiltration
	./blackjack
	./bob
	./card-tricks
	./cars-assemble
	./difference-of-squares
	./gigasecond
	./grains
	./hamming
	./hello-world
	./isogram
	./lasagna
	./luhn
	./need-for-speed
	./party-robot
	./protein-translation
	./raindrops
	./reverse-string
	./sieve
	./space-age
	./tournament
	./two-fer
	./vehicle-purchase
	./weather-forecast
	./welcome-to-tech-palace
)
