go 1.19

use (
	./accumulate
	./annalyns-infiltration
	./bob
	./cars-assemble
	./difference-of-squares
	./gigasecond
	./grains
	./hamming
	./hello-world
	./isogram
	./lasagna
	./luhn
	./protein-translation
	./raindrops
	./reverse-string
	./sieve
	./space-age
	./tournament
	./two-fer
	./weather-forecast
)
